*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    color: var(--text-color);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/AnyConv.com__Montserrat-ExtraLight.woff2) format("woff2"),
    url(../fonts/Montserrat-ExtraLight.woff) format("woff");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/AnyConv.com__Montserrat-Light.woff2) format("woff2"),
    url(../fonts/Montserrat-Light.woff) format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}



a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--orange);
}

html {
    font-family: Montserrat;
    background-color: var(--background-color2);
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 10px;
}

:root{
    --text-color: #a4a5a6;
    --background-color1: #2b2c2c;
    --background-color2: #2d2e2e;
    --orange: #e0a80d;
    --text: #796d4c;
}

.contacts{
    margin-bottom: 80px;
}

.contacts__title{
    align-self: center;
    margin-bottom: 20px;
}

.contacts__container{
    display: flex;
    flex-direction: column;
}

.contacts__list{
    display: flex;
    justify-content: center;
}

.header__name {
    font-size: 70px;
}

.header__text{
    font-size: 30px;
}

.contacts__item {
    display: flex;
    margin-right: 70px;
}


.header {
    margin-bottom: 100px;
}

.header__container{
    display: flex;
    padding-top: 30px;
}

.header__photo{
    width: 250px;
    border-radius: 50%;
}

.header__block__right{
    margin-left: 180px;
    align-self: center;
}

.about{
    margin-bottom: 80px;
}

.about-container {
    display: flex;
}

.about__title{
    margin-bottom: 20px;
}

.about__info {
    width: 50%;
    padding-right: 50px;
}

.about__contacts{
    width: 50%;
    padding-left: 50px;
}

.about__contacts__item{
    display: flex;
    margin-bottom: 20px;
}

.about__contacts__content{
    min-width: 135px;
}

.about__contacts__text{
    text-align: left;
}


/*skills*/

.skills__title{
    margin-bottom: 30px;
}

.skills__item{
    margin-bottom: 5px;
}

.skills__block__container {
    width: 100%;
    background-color: var(--text-color);
    margin-bottom: 30px;
}

.skills {
    text-align: left;
    line-height: 24px;
    color: black;
}

.html {width: 70%; background-color: #4CAF50;}
.css {width: 70%; background-color: #2196F3;}
.js {width: 10%; background-color: #f44336;}
.figma {width: 60%; background-color: #e16565;}
.react.js{width: 5%; background-color: #53ce59;}
.git{width: 90%; background-color: #be25a5;}


.education{
    margin-bottom: 80px;
}

.education__title{
    margin-bottom: 30px;
}

.education__content{
    min-width: 240px;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
}

.education__course{
    color: var(--text) ;
}

.education__block{
    display: flex;
    margin-bottom: 35px;
    padding-bottom: 10px;
    width: 560px;
    border-bottom: 1px solid var(--text-color);
}

.education__content{
    margin-right: 200px;
}

.language{
    margin-bottom: 80px;
}

.footer__container{
    display: flex;
}

.img__logo{
    width: 103px;
}

.footer__logo{
    margin-right: 40px;
}

.footer__nav__list{
    margin-right: 40px;
    align-items: center;
}

.footer__nav__item{
    display: flex;
}

.footer__nav__list{
    display: flex;
}